*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #032030;
}
/*Navbar */
.navBar {
    display: flex;
    justify-content: flex-end;

}
.navBar__content {
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav__list {
    margin: 20px;
    text-align: end;
}
.nav__item {
    display: inline-block;
}
.nav__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    background-color: #213A57;
    border-radius: 5px;
}
.nav__link:hover {
    background-color: #14919B;
}
.link--button {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 4px 18px;
    color: #48e;
    border-radius: 3px;
}
.link--button:hover {
    background: transparent;
    color: #fff;
}
/*Main*/ 
.logoDecodev {
    display: flex;
    font-family: sans-serif;
    justify-content: center;

}

/* Video index */
.video {
    width: 90%;
    margin: 0;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
.video .containerVideo iframe {
    width: 90%;
    height: 400px;
    margin: 30px;
}
.video .containerVideoP {
    align-content: flex-start;
    font-weight: 100%;
    font-size: 18px;
    overflow-x: hidden;
    color: #fff;
}
  /* Titulos, parrafos */

.tit1 {
    display: flex;
    margin-top: 85px;
    margin-bottom: 0px;
    font-family: "geometos";
    font-size: 40px;
}
.tit1 .titulo1 {
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.tit2 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif;
}
.tit2 .titulo2 {
    display: flex;
    margin-top: 10px;
}
.parrafos {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif;
}

/* Contador index */
.sectionClass {
    padding: 20px 0px 50px 0px;
    position: relative;
    display: block;
}

.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}

.sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
}
.sectiontitle h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101f2e;
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.8);
}

#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    width: 25%;
    padding: 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projectFactsWrap .item:nth-child(1) {
    background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2) {
    background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3) {
    background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4) {
    background: rgb(23, 44, 66);
}

.projectFactsWrap .item .contenedorbarra {
    display: flex;
    justify-content: center;
}
.projectFactsWrap .item .suma {
    font-size: 40px;
}
.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item p.titeje {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: "Signika Negative", sans-serif;
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 15px;
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: white;
}

.projectFactsWrap .item:hover span {
    background: white;
}

/* Footer */
.container__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 70px;
    overflow-x: hidden;
}

.box__footer .logo img {
    width: 100px;
    justify-content: center;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.box__footer a {
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.box__footer a:hover {
    opacity: 0.8;
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    font-family: "Roboto", sans-serif;
}

.box__copyright p {
    margin-top: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}
/* Imagenes y videos */
.iconoinsta {
    width: 54px;
    height: 54px;
}
.iconowp {
    width: 54px;
    height: 54px;
    margin-top: 10px;
}

/* Slider */

.container-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, .50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
.container-slider .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.slide -item:nth-child(1),
.slide -item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;    
}
.slide -item:nth-child(3){
    left: 50%;
}
.slide -item:nth-child(4){
    left: calc(50% + 220px);
}
.slide -item:nth-child(5){
    left: calc(50% + 440px);
}
.slide -item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .container-slider {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: sans-serif;
    display: none;

}
