@font-face {
  font-family: "ff";
  src: url(../../../public/Transducer.ttf);
}

@font-face {
  font-family: "transducer";
  src: url(../../../public/Transducer-Extended-Regular.ttf);
}

.title {
  font-family: "ff";
  font-size: 70px;
}

.text {
  font-family: "ff";
  font-size: 15px;
}
.texto {
  font-family: 'transducer';
}
.subtitulo {
  font-family: "transducer";
}

.subtitulo2 {
  font-family: "ff";
  font-size: 13spx;
}
